.App {
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  margin-right: 8px;
}

input {
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
  text-align: center;
}

body {
  background-image: url("./background.jpg"); /* Adjust the path as needed */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

html,
body {
  height: 100%; /* Ensure the height is 100% of the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
